<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autores</title>
    <%- include('t-dependencias-head') %>
    
</head>
<body>
    <%- include('t-navegador') %>
    <div class="container encabezado mt-5 mb-5">
        <div  style="display: flex; gap: 2rem;">
           
                <h1>Autores</h1>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAgregar">
                    <i class="bi bi-plus-circle-fill"></i>
                Nuevo
                </button>           
        </div>     
    </div>
    <hr />
    


<!-- MODAL: AGREGAR NUEVO -->
<div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar nuevo autor</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="/autor-agregar" id="formulario-agregar">
                
                <div class="form-group">
                    <input type="hidden" name="url" value="/autores" id="formulario-editar-url">                
                    <label for="nombre">Nombre/s</label>
                    <input name="nombre" class="form-control" type="text" id="formulario-agregar-nombre"><br>

                    <label for="apellido">Apellido/s</label>
                    <input name="apellido" class="form-control" type="text" id="formulario-agregar-nombre"><br>
                    
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" type="submit">Registrar</button>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>


<!--   MODAL EDITAR -->

<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="/autor-editar" id="formulario-editar">
                <input type="hidden" name="id" value="" id="formulario-editar-id">
              

                <div class="form-group">                
                <label for="nombre">Nombre/s</label>
                <input name="nombre" class="form-control" type="text" id="formulario-editar-nombre"><br>

                <label for="apellido">Apellido/s</label>
                <input name="apellido" class="form-control" type="text" id="formulario-editar-apellido"><br>
                
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" type="submit">Editar</button>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>



<!-- PRINCIPAL -->
 
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <h3 class="bg-dark text-white px-4 py-2">Listado de Autores</h3>

            <table class="table">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Nombre, Apellido</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                    <% for (let i = 0; i < autores.length; i++) { %>
                        <tr>
                            <%                             
                            var idautor = autores[i].id_autor;
                            var nombre = autores[i].nombre; 
                            var apellido = autores[i].apellido;                            
                            %>

                            <td> <%= idautor %></td>                            
                            <td><%= nombre + ', ' + apellido %></td>
                            <td>
                                <a href="/autor-borrar/<%= idautor %>">
                                <button type="button" class="btn btn-danger">
                                    <i class="bi bi-trash"></i>
                                </button></a>

                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEditar" onclick="formularioeditar('<%= idautor %>', '<%= nombre %>' , '<%= apellido %>')">
                                    <i class="bi bi-pencil"></i>
                                </button>
                            </td>
                        </tr>
                        <% } %>                  

                </tbody>
            </table>
              
        </div>
    </div>
</div>
      

<!-- SCRIPTS -->
<%- include('t-dependencias-footer') %>

<!-- SCRIPTS -->      
<script>
        var editarFormulario = document.getElementById('formulario-editar');
        var editarCampoId = document.getElementById('formulario-editar-id');
        var editarCampoNombre = document.getElementById('formulario-editar-nombre');
        var editarCampoApellido = document.getElementById('formulario-editar-apellido');
        
        function formularioeditar(id, nombre, apellido){
            editarCampoId.value = id;
            editarCampoNombre.value = nombre;     
            editarCampoApellido.value = apellido;    
            
        }
</script>
    
</body>
</html>