<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar prestamos</title>
    <%- include('t-dependencias-head') %>
    
</head>
<body>
    <%- include('t-navegador') %>
    <div class="container encabezado mt-5 mb-5">
        <div  style="display: flex; gap: 2rem;">
           
                <h1>Prestamos de libros</h1> 
        </div>     
    </div>
    <hr />
    


<!-- MODAL: AGREGAR NUEVO -->
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-6">

            <form method="POST" action="/prestamo-agregar" id="formulario-agregar">
                
                <div class="form-group">                
                    <label for="staff"><i class="bi bi-person"> </i>Empleado / gestor</label>

                    <select name="staff" class="form-control" id="form-editar-staff">
                        <option value="" disabled>Seleccione persona a cargo de esta gestión</option>
                        <% empleados.forEach(item => { %>
                            <option value="<%= item.id_empleado %>"><%= item.nombre + ', ' + item.apellido %></option>                         
                        <% }); %> 
                    </select><br>
                   

                    <label for="libro"><i class="bi bi-book"></i> Libro a prestar</label>
                    <select name="libro" class="form-control" id="form-editar-libro">
                        <option value="" disabled>Seleccione el libro a prestar</option>
                        <% libros.forEach(item => { %>
                            <option value="<%= item.id_libro %>"><%= item.titulo  %></option>                         
                        <% }); %> 
                    </select><br>

                    <label for="socio"><i class="bi bi-person"></i> Socio / Solicitante</label>
                    <select name="socio" class="form-control" id="form-editar-socio">
                        <option value="" disabled>Seleccione el socio solicitante</option>
                        <% socios.forEach(item => { %>
                            <option value="<%= item.id_socio %>"><%= item.nombre + ', ' + item.apellido  %></option>                         
                        <% }); %> 
                    </select><br>

                    <label for="fecha"><i class="bi bi-calendar"></i> Fecha de retiro</label>
                    <input name="fecha" type="date" class="form-control" id="form-editar-fecha"><br>

                    <div><p class="text-danger" id="fechamaxima">Fecha máxima para devolución: </p></div>

                    
                <button class="btn btn-primary" type="submit">Registrar Prestamo</button>
                </div>
            </form>

        </div>
    </div>
</div>


      

<!-- SCRIPTS -->
<%- include('t-dependencias-footer') %>

<script>

limpiarformulario()
function limpiarformulario(){
    var campostaff = document.getElementById('form-editar-staff');
    var campolibro = document.getElementById('form-editar-libro');
    var camposocio = document.getElementById('form-editar-socio');
    var campofecha = document.getElementById('form-editar-fecha');

    campostaff.value = '';
    campolibro.value = '';
    camposocio.value = '';
    campofecha.value = '';


}

const campofecha = document.getElementById('form-editar-fecha');
const textofechamaxima = document.getElementById('fechamaxima');

campofecha.addEventListener('change', calcularfecha);

function calcularfecha() {
    var fechacargada = campofecha.value;
    var date = new Date(fechacargada);
    date.setDate(date.getDate() + 11);
    var fechavencimiento = date;

    var fechavencimiento =  fechavencimiento.toLocaleString();
    var fechavencimiento = fechavencimiento.split(',')[0];

    textofechamaxima.innerText = 'Fecha máxima para devolución: ' + fechavencimiento;
}


</script>

<!-- SCRIPTS -->      

    
</body>
</html>