<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prestamos</title>
    <%- include('t-dependencias-head') %>
    
</head>
<body>
    <%- include('t-navegador') %>
    <div class="container encabezado mt-5 mb-5">
        
           
                <h1>Listado y devoluciones</h1>
               
                <p>Borre los prestamos de la lista cuando el libro sea devuelto</p>
                   
          
    </div>
    <hr />
    
<!--   MODAL EDITAR -->

<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="/prestamo-editar" id="formulario-editar">
                <input type="hidden" name="id" value="" id="formulario-editar-id">

                <div class="form-group">  
                    
                    
                    <label for="staff"><i class="bi bi-person"> </i>Empleado / gestor</label>

                    <select name="staff" class="form-control" id="formulario-editar-staff">
                        <option value="" disabled>Seleccione persona a cargo de esta gestión</option>
                        <% empleados.forEach(item => { %>
                            <option value="<%= item.id_empleado %>"><%= item.nombre + ', ' + item.apellido %></option>                         
                        <% }); %> 
                    </select><br>

                    <label for="libro"><i class="bi bi-book"></i> Libro a prestar</label>
                    <select name="libro" class="form-control" id="formulario-editar-libro">
                        <option value="" disabled>Seleccione el libro a prestar</option>
                        <% libros.forEach(item => { %>
                            <option value="<%= item.id_libro %>"><%= item.titulo  %></option>                         
                        <% }); %> 
                    </select><br>

                    <label for="socio"><i class="bi bi-person"></i> Socio / Solicitante</label>
                    <select name="socio" class="form-control" id="formulario-editar-socio">
                        <option value="" disabled>Seleccione el socio solicitante</option>
                        <% socios.forEach(item => { %>
                            <option value="<%= item.id_socio %>"><%= item.nombre + ', ' + item.apellido  %></option>                         
                        <% }); %> 
                    </select><br>

                    <label for="fecha"><i class="bi bi-calendar"></i> Fecha de retiro</label>
                    <input name="fecha" type="date" class="form-control" id="form-editar-fecha"><br>

                    <div><p class="text-danger" id="form-editar-fechamaxima">Fecha máxima para devolución: </p></div>

                
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" type="submit">Editar</button>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>



<!-- PRINCIPAL -->
 
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">

            <h3 class="bg-dark text-white px-4 py-2">Libros en prestamo</h3>

            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Gestor</th>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>Socio</th>
                    <th>Fecha de retiro</th>
                    <th>Vencimiento</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                    <% for (let i = 0; i < prestamos.length; i++) { %>
                        <tr>
                            <%       
                            
                            
                            var idprestamo = prestamos[i].id_prestamo;   

                            var staff = prestamos[i].empleado_nombre + ' ' + prestamos[i].empleado_apellido;  
                            var staffid = prestamos[i].id_empleado;

                            var titulo = prestamos[i].titulo;
                            var libroid = prestamos[i].id_libro;

                            
                            var idautor = prestamos[i].autor; 
                            var autor = autores.find(item => item.id_autor === idautor);     
                            var autornombre = autor.nombre + ', ' + autor.apellido;

                            var socio = prestamos[i].socio_nombre + ', ' +  prestamos[i].socio_apellido; 
                            var socioid = prestamos[i].id_socio;  

                            function convertirstring(fecha) {
                                var partes = fecha.split('/'); 
                                var day = partes[0];
                                var month = partes[1];
                                var year = partes[2];
                                var formattedDate = `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`;
                                return formattedDate;
                            }

                            var fecharetiro = prestamos[i].fecharetiro;
                            var fecharetirotexto = fecharetiro.toLocaleString();
                            var fecharetirotexto = fecharetirotexto.split(',')[0];
                            var fecharetirotexto = convertirstring(fecharetirotexto);

                            var fechamaxima = new Date(fecharetiro);
                            fechamaxima.setDate(fechamaxima.getDate() + 11);
                            var fechamaximatext =  fechamaxima.toLocaleString();
                            var fechamaximatext = fechamaximatext.split(',')[0];
                            var fechamaximatext = convertirstring(fechamaximatext);
                           
                            %>

                            <td> <%= idprestamo %></td>                            
                            <td><%= staff %></td>
                            <td><%= titulo %></td>
                            <td><%= autornombre %></td>
                            <td><%= socio %></td>
                            <td><%= fecharetirotexto %></td>
                            <td class="text-primary"><%= fechamaximatext %></td>
                            <td>
                                <a href="/prestamo-borrar/<%= idprestamo %>">
                                <button type="button" class="btn btn-danger">
                                    <i class="bi bi-trash"></i>
                                </button></a>

                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEditar" onclick="formularioeditar('<%= idprestamo %>', '<%= staffid %>', '<%= libroid %>', '<%= socioid %>', '<%= fecharetirotexto %>', '<%= fechamaximatext %>')">
                                    <i class="bi bi-pencil"></i>
                                </button>
                            </td>
                        </tr>
                        <% } %>                  

                </tbody>
            </table>
              
        </div>
    </div>
</div>
      

<!-- SCRIPTS -->
<%- include('t-dependencias-footer') %>

<!-- SCRIPTS -->      
<script>
        

        var editarFormulario = document.getElementById('formulario-editar');
        var editarCampoId = document.getElementById('formulario-editar-id');
        var editarCampoStaff = document.getElementById('formulario-editar-staff');
        var editarCampoLibro = document.getElementById('formulario-editar-libro');
        var editarCampoSocio = document.getElementById('formulario-editar-socio');
        var editarCampoFecha = document.getElementById('form-editar-fecha');
        var editarCampoFechaMax = document.getElementById('form-editar-fechamaxima');
        
        function formularioeditar(id, staffid, libro, socio, fecha, fechamaxima){
            editarCampoId.value = id;
            editarCampoStaff.value = staffid;    
            editarCampoLibro.value = libro;    
            editarCampoSocio.value = socio;    
            editarCampoFecha.value = fecha;
            console.log(editarCampoFecha);     
            console.log(fecha); 
            editarCampoFechaMax.innerText = 'Fecha máxima para devolución: ' + fechamaxima;
       
        } 

        editarCampoFecha.addEventListener('change', calcularfecha);

        function calcularfecha() {
            var fechacargada = editarCampoFecha.value;
            var date = new Date(fechacargada);
            date.setDate(date.getDate() + 11);
            var fechavencimiento = date;

            var fechavencimiento =  fechavencimiento.toLocaleString();
            var fechavencimiento = fechavencimiento.split(',')[0];

            editarCampoFechaMax.innerText = 'Fecha máxima para devolución: ' + fechavencimiento;
        }
</script>
    
</body>
</html>