<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff</title>
    <%- include('t-dependencias-head') %>
    
</head>
<body>
    <%- include('t-navegador') %>
    <div class="container encabezado mt-5 mb-5">
        <div  style="display: flex; gap: 2rem;">
           
                <h1>Staff</h1>

            
                <!-- MODAL BOTON-->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAgregar">
                <i class="bi bi-plus-circle-fill"></i>
               Nuevo
            </button>

           
        </div>
        
        

    </div>
    <hr />
    


<!-- MODAL AGREGAR -->
<div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar nuevo empleado</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="/staff-agregar" id="formulario-agregar">
                
                <div class="form-group">                
                    <label for="nombre">Nombre</label>
                    <input name="nombre" class="form-control" type="text" id="formulario-agregar-nombre"><br>

                    <label for="apellido">Apellido</label>
                    <input name="apellido" class="form-control" type="text" id="formulario-agregar-apellido"><br>

                    <label for="cargo">Cargo</label>
                    <select name="cargo" class="form-control" id="formulario-agregar-cargo">
                        <% for (let i = 0; i < cargos.length; i++) { %>
                            <option value="<%= cargos[i].id_cargo %>"><%= cargos[i].cargo %></option>
                            <% } %>
                    
                    </select><br>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" type="submit">Registrar</button>
                </div>
            </form>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>


<!--   MODAL EDITAR -->

<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="/staff-editar" id="formulario-editar">
                <input type="hidden" name="idempleado" value="" id="formulario-editar-idempleado">

                <div class="form-group">                
                <label for="nombre">Nombre</label>
                <input name="nombre" class="form-control" type="text" id="formulario-editar-nombre"><br>
                <label for="apellido">Apellido</label>
                <input name="apellido" class="form-control" type="text" id="formulario-editar-apellido"><br>
                <label for="cargo">Cargo</label>
                <select name="cargo" class="form-control" id="formulario-editar-cargo">
                    <% for (let i = 0; i < cargos.length; i++) { %>
                        <option value="<%= cargos[i].id_cargo %>"><%= cargos[i].cargo %></option>
                        <% } %>
                   
                </select><br>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" type="submit">Editar</button>
                </div>
            </form>
        </div>
       <!--  <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Guardar cambios</button>
        </div> -->
      </div>
    </div>
  </div>



<!-- PRINCIPAL -->

    <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-6">

            <h3 class="bg-dark text-white px-4 py-2">Listado de empleados</h3>

            <table class="table">
                <thead>
                  <tr>
                    <th>Nombre y apellido</th>
                    <th>Cargo</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < empleados.length; i++) { %>
                        <tr>
                            <td> <%= empleados[i].nombre + ' ' + empleados[i].apellido %></td>
                            <% 
                            var empleadoNombre = empleados[i].nombre;
                            var empleadoApellido = empleados[i].apellido;
                            var idcargo = empleados[i].cargo;
                            var idempleado = empleados[i].id_empleado;
                            var nombrecargo = cargos.find((elemento) => elemento.id_cargo === idcargo);
                            %>
                            <td><%= nombrecargo.cargo %></td>
                            <td>
                                <a href="/staff-borrar/<%= empleados[i].id_empleado %>">
                                <button type="button" class="btn btn-danger">
                                    <i class="bi bi-trash"></i>
                                  </button></a>

                                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEditar" onclick="formularioeditar('<%= empleadoNombre %>', '<%= empleadoApellido %>', '<%= idcargo %>' , '<%= idempleado %>')">
                                    <i class="bi bi-pencil"></i>
                                  </button>
                            </td>
                        </tr>
                        <% } %>                  

                </tbody>
              </table>
              
          </div>


        </div>
      </div>
      
  
      <%- include('t-dependencias-footer') %>
      <script>
        var editarFormulario = document.getElementById('formulario-editar');
        var editarCampoIdEmpleado = document.getElementById('formulario-editar-idempleado');
        var editarCampoNombre = document.getElementById('formulario-editar-nombre');
        var editarCampoApellido = document.getElementById('formulario-editar-apellido');
        var editarCampoCargo = document.getElementById('formulario-editar-cargo');
        function formularioeditar(nombre, apellido, idcargo, idempleado){
            editarCampoNombre.value = nombre;
            editarCampoApellido.value = apellido;
            editarCampoIdEmpleado.value = idempleado;

            for (let i = 0; i < editarCampoCargo.options.length; i++) {
                if (editarCampoCargo.options[i].value === idcargo) {
                    editarCampoCargo.selectedIndex = i;
                 break;
                }
            }

         /*    editarFormulario.action = '/staff-editar/' + editarCampoNombre.value + '/' + editarCampoApellido.value + '/' + editarCampoCargo.value; */

            console.log(editarFormulario);
            
        }
      </script>
    
</body>
</html>